.tile.tile-position-0-0 {
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
}

.tile.tile-position-1-0 {
    -webkit-transform: translate(0px, 72px);
    -moz-transform: translate(0px, 72px);
    transform: translate(0px, 72px);
}

.tile.tile-position-2-0 {
    -webkit-transform: translate(0px, 144px);
    -moz-transform: translate(0px, 144px);
    transform: translate(0px, 144px);
}

.tile.tile-position-3-0 {
    -webkit-transform: translate(0px, 216px);
    -moz-transform: translate(0px, 216px);
    transform: translate(0px, 216px);
}

.tile.tile-position-4-0 {
    -webkit-transform: translate(0px, 288px);
    -moz-transform: translate(0px, 288px);
    transform: translate(0px, 288px);
}

.tile.tile-position-5-0 {
    -webkit-transform: translate(0px, 360px);
    -moz-transform: translate(0px, 360px);
    transform: translate(0px, 360px);
}

.tile.tile-position-6-0 {
    -webkit-transform: translate(0px, 432px);
    -moz-transform: translate(0px, 432px);
    transform: translate(0px, 432px);
}

.tile.tile-position-0-1 {
    -webkit-transform: translate(72px, 0px);
    -moz-transform: translate(72px, 0px);
    transform: translate(72px, 0px);
}

.tile.tile-position-1-1 {
    -webkit-transform: translate(72px, 72px);
    -moz-transform: translate(72px, 72px);
    transform: translate(72px, 72px);
}

.tile.tile-position-2-1 {
    -webkit-transform: translate(72px, 144px);
    -moz-transform: translate(72px, 144px);
    transform: translate(72px, 144px);
}

.tile.tile-position-3-1 {
    -webkit-transform: translate(72px, 216px);
    -moz-transform: translate(72px, 216px);
    transform: translate(72px, 216px);
}

.tile.tile-position-4-1 {
    -webkit-transform: translate(72px, 288px);
    -moz-transform: translate(72px, 288px);
    transform: translate(72px, 288px);
}

.tile.tile-position-5-1 {
    -webkit-transform: translate(72px, 360px);
    -moz-transform: translate(72px, 360px);
    transform: translate(72px, 360px);
}

.tile.tile-position-6-1 {
    -webkit-transform: translate(72px, 432px);
    -moz-transform: translate(72px, 432px);
    transform: translate(72px, 432px);
}

.tile.tile-position-0-2 {
    -webkit-transform: translate(144px, 0px);
    -moz-transform: translate(144px, 0px);
    transform: translate(144px, 0px);
}

.tile.tile-position-1-2 {
    -webkit-transform: translate(144px, 72px);
    -moz-transform: translate(144px, 72px);
    transform: translate(144px, 72px);
}

.tile.tile-position-2-2 {
    -webkit-transform: translate(144px, 144px);
    -moz-transform: translate(144px, 144px);
    transform: translate(144px, 144px);
}

.tile.tile-position-3-2 {
    -webkit-transform: translate(144px, 216px);
    -moz-transform: translate(144px, 216px);
    transform: translate(144px, 216px);
}

.tile.tile-position-4-2 {
    -webkit-transform: translate(144px, 288px);
    -moz-transform: translate(144px, 288px);
    transform: translate(144px, 288px);
}

.tile.tile-position-5-2 {
    -webkit-transform: translate(144px, 360px);
    -moz-transform: translate(144px, 360px);
    transform: translate(144px, 360px);
}

.tile.tile-position-6-2 {
    -webkit-transform: translate(144px, 432px);
    -moz-transform: translate(144px, 432px);
    transform: translate(144px, 432px);
}

.tile.tile-position-0-3 {
    -webkit-transform: translate(216px, 0px);
    -moz-transform: translate(216px, 0px);
    transform: translate(216px, 0px);
}

.tile.tile-position-1-3 {
    -webkit-transform: translate(216px, 72px);
    -moz-transform: translate(216px, 72px);
    transform: translate(216px, 72px);
}

.tile.tile-position-2-3 {
    -webkit-transform: translate(216px, 144px);
    -moz-transform: translate(216px, 144px);
    transform: translate(216px, 144px);
}

.tile.tile-position-3-3 {
    -webkit-transform: translate(216px, 216px);
    -moz-transform: translate(216px, 216px);
    transform: translate(216px, 216px);
}

.tile.tile-position-4-3 {
    -webkit-transform: translate(216px, 288px);
    -moz-transform: translate(216px, 288px);
    transform: translate(216px, 288px);
}

.tile.tile-position-5-3 {
    -webkit-transform: translate(216px, 360px);
    -moz-transform: translate(216px, 360px);
    transform: translate(216px, 360px);
}

.tile.tile-position-6-3 {
    -webkit-transform: translate(216px, 432px);
    -moz-transform: translate(216px, 432px);
    transform: translate(216px, 432px);
}

.tile.tile-position-0-4 {
    -webkit-transform: translate(288px, 0px);
    -moz-transform: translate(288px, 0px);
    transform: translate(288px, 0px);
}

.tile.tile-position-1-4 {
    -webkit-transform: translate(288px, 72px);
    -moz-transform: translate(288px, 72px);
    transform: translate(288px, 72px);
}

.tile.tile-position-2-4 {
    -webkit-transform: translate(288px, 144px);
    -moz-transform: translate(288px, 144px);
    transform: translate(288px, 144px);
}

.tile.tile-position-3-4 {
    -webkit-transform: translate(288px, 216px);
    -moz-transform: translate(288px, 216px);
    transform: translate(288px, 216px);
}

.tile.tile-position-4-4 {
    -webkit-transform: translate(288px, 288px);
    -moz-transform: translate(288px, 288px);
    transform: translate(288px, 288px);
}

.tile.tile-position-5-4 {
    -webkit-transform: translate(288px, 360px);
    -moz-transform: translate(288px, 360px);
    transform: translate(288px, 360px);
}

.tile.tile-position-6-4 {
    -webkit-transform: translate(288px, 432px);
    -moz-transform: translate(288px, 432px);
    transform: translate(288px, 432px);
}

.tile.tile-position-0-5 {
    -webkit-transform: translate(360px, 0px);
    -moz-transform: translate(360px, 0px);
    transform: translate(360px, 0px);
}

.tile.tile-position-1-5 {
    -webkit-transform: translate(360px, 72px);
    -moz-transform: translate(360px, 72px);
    transform: translate(360px, 72px);
}

.tile.tile-position-2-5 {
    -webkit-transform: translate(360px, 144px);
    -moz-transform: translate(360px, 144px);
    transform: translate(360px, 144px);
}

.tile.tile-position-3-5 {
    -webkit-transform: translate(360px, 216px);
    -moz-transform: translate(360px, 216px);
    transform: translate(360px, 216px);
}

.tile.tile-position-4-5 {
    -webkit-transform: translate(360px, 288px);
    -moz-transform: translate(360px, 288px);
    transform: translate(360px, 288px);
}

.tile.tile-position-5-5 {
    -webkit-transform: translate(360px, 360px);
    -moz-transform: translate(360px, 360px);
    transform: translate(360px, 360px);
}

.tile.tile-position-6-5 {
    -webkit-transform: translate(360px, 432px);
    -moz-transform: translate(360px, 432px);
    transform: translate(360px, 432px);
}

.tile.tile-position-0-6 {
    -webkit-transform: translate(432px, 0px);
    -moz-transform: translate(432px, 0px);
    transform: translate(432px, 0px);
}

.tile.tile-position-1-6 {
    -webkit-transform: translate(432px, 72px);
    -moz-transform: translate(432px, 72px);
    transform: translate(432px, 72px);
}

.tile.tile-position-2-6 {
    -webkit-transform: translate(432px, 144px);
    -moz-transform: translate(432px, 144px);
    transform: translate(432px, 144px);
}

.tile.tile-position-3-6 {
    -webkit-transform: translate(432px, 216px);
    -moz-transform: translate(432px, 216px);
    transform: translate(432px, 216px);
}

.tile.tile-position-4-6 {
    -webkit-transform: translate(432px, 288px);
    -moz-transform: translate(432px, 288px);
    transform: translate(432px, 288px);
}

.tile.tile-position-5-6 {
    -webkit-transform: translate(432px, 360px);
    -moz-transform: translate(432px, 360px);
    transform: translate(432px, 360px);
}

.tile.tile-position-6-6 {
    -webkit-transform: translate(432px, 432px);
    -moz-transform: translate(432px, 432px);
    transform: translate(432px, 432px);
}
