@media screen and (max-width: 520px) {
    .tile.tile-position-0-0 {
        -webkit-transform: translate(0px, 0px);
        -moz-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
    .tile.tile-position-1-0 {
        -webkit-transform: translate(0px, 42px);
        -moz-transform: translate(0px, 42px);
        transform: translate(0px, 42px);
    }
    .tile.tile-position-2-0 {
        -webkit-transform: translate(0px, 84px);
        -moz-transform: translate(0px, 84px);
        transform: translate(0px, 84px);
    }
    .tile.tile-position-3-0 {
        -webkit-transform: translate(0px, 126px);
        -moz-transform: translate(0px, 126px);
        transform: translate(0px, 126px);
    }
    .tile.tile-position-4-0 {
        -webkit-transform: translate(0px, 168px);
        -moz-transform: translate(0px, 168px);
        transform: translate(0px, 168px);
    }
    .tile.tile-position-5-0 {
        -webkit-transform: translate(0px, 210px);
        -moz-transform: translate(0px, 210px);
        transform: translate(0px, 210px);
    }
    .tile.tile-position-6-0 {
        -webkit-transform: translate(0px, 252px);
        -moz-transform: translate(0px, 252px);
        transform: translate(0px, 252px);
    }
    .tile.tile-position-0-1 {
        -webkit-transform: translate(42px, 0px);
        -moz-transform: translate(42px, 0px);
        transform: translate(42px, 0px);
    }
    .tile.tile-position-1-1 {
        -webkit-transform: translate(42px, 42px);
        -moz-transform: translate(42px, 42px);
        transform: translate(42px, 42px);
    }
    .tile.tile-position-2-1 {
        -webkit-transform: translate(42px, 84px);
        -moz-transform: translate(42px, 84px);
        transform: translate(42px, 84px);
    }
    .tile.tile-position-3-1 {
        -webkit-transform: translate(42px, 126px);
        -moz-transform: translate(42px, 126px);
        transform: translate(42px, 126px);
    }
    .tile.tile-position-4-1 {
        -webkit-transform: translate(42px, 168px);
        -moz-transform: translate(42px, 168px);
        transform: translate(42px, 168px);
    }
    .tile.tile-position-5-1 {
        -webkit-transform: translate(42px, 210px);
        -moz-transform: translate(42px, 210px);
        transform: translate(42px, 210px);
    }
    .tile.tile-position-6-1 {
        -webkit-transform: translate(42px, 252px);
        -moz-transform: translate(42px, 252px);
        transform: translate(42px, 252px);
    }
    .tile.tile-position-0-2 {
        -webkit-transform: translate(84px, 0px);
        -moz-transform: translate(84px, 0px);
        transform: translate(84px, 0px);
    }
    .tile.tile-position-1-2 {
        -webkit-transform: translate(84px, 42px);
        -moz-transform: translate(84px, 42px);
        transform: translate(84px, 42px);
    }
    .tile.tile-position-2-2 {
        -webkit-transform: translate(84px, 84px);
        -moz-transform: translate(84px, 84px);
        transform: translate(84px, 84px);
    }
    .tile.tile-position-3-2 {
        -webkit-transform: translate(84px, 126px);
        -moz-transform: translate(84px, 126px);
        transform: translate(84px, 126px);
    }
    .tile.tile-position-4-2 {
        -webkit-transform: translate(84px, 168px);
        -moz-transform: translate(84px, 168px);
        transform: translate(84px, 168px);
    }
    .tile.tile-position-5-2 {
        -webkit-transform: translate(84px, 210px);
        -moz-transform: translate(84px, 210px);
        transform: translate(84px, 210px);
    }
    .tile.tile-position-6-2 {
        -webkit-transform: translate(84px, 252px);
        -moz-transform: translate(84px, 252px);
        transform: translate(84px, 252px);
    }
    .tile.tile-position-0-3 {
        -webkit-transform: translate(126px, 0px);
        -moz-transform: translate(126px, 0px);
        transform: translate(126px, 0px);
    }
    .tile.tile-position-1-3 {
        -webkit-transform: translate(126px, 42px);
        -moz-transform: translate(126px, 42px);
        transform: translate(126px, 42px);
    }
    .tile.tile-position-2-3 {
        -webkit-transform: translate(126px, 84px);
        -moz-transform: translate(126px, 84px);
        transform: translate(126px, 84px);
    }
    .tile.tile-position-3-3 {
        -webkit-transform: translate(126px, 126px);
        -moz-transform: translate(126px, 126px);
        transform: translate(126px, 126px);
    }
    .tile.tile-position-4-3 {
        -webkit-transform: translate(126px, 168px);
        -moz-transform: translate(126px, 168px);
        transform: translate(126px, 168px);
    }
    .tile.tile-position-5-3 {
        -webkit-transform: translate(126px, 210px);
        -moz-transform: translate(126px, 210px);
        transform: translate(126px, 210px);
    }
    .tile.tile-position-6-3 {
        -webkit-transform: translate(126px, 252px);
        -moz-transform: translate(126px, 252px);
        transform: translate(126px, 252px);
    }
    .tile.tile-position-0-4 {
        -webkit-transform: translate(168px, 0px);
        -moz-transform: translate(168px, 0px);
        transform: translate(168px, 0px);
    }
    .tile.tile-position-1-4 {
        -webkit-transform: translate(168px, 42px);
        -moz-transform: translate(168px, 42px);
        transform: translate(168px, 42px);
    }
    .tile.tile-position-2-4 {
        -webkit-transform: translate(168px, 84px);
        -moz-transform: translate(168px, 84px);
        transform: translate(168px, 84px);
    }
    .tile.tile-position-3-4 {
        -webkit-transform: translate(168px, 126px);
        -moz-transform: translate(168px, 126px);
        transform: translate(168px, 126px);
    }
    .tile.tile-position-4-4 {
        -webkit-transform: translate(168px, 168px);
        -moz-transform: translate(168px, 168px);
        transform: translate(168px, 168px);
    }
    .tile.tile-position-5-4 {
        -webkit-transform: translate(168px, 210px);
        -moz-transform: translate(168px, 210px);
        transform: translate(168px, 210px);
    }
    .tile.tile-position-6-4 {
        -webkit-transform: translate(168px, 252px);
        -moz-transform: translate(168px, 252px);
        transform: translate(168px, 252px);
    }
    .tile.tile-position-0-5 {
        -webkit-transform: translate(210px, 0px);
        -moz-transform: translate(210px, 0px);
        transform: translate(210px, 0px);
    }
    .tile.tile-position-1-5 {
        -webkit-transform: translate(210px, 42px);
        -moz-transform: translate(210px, 42px);
        transform: translate(210px, 42px);
    }
    .tile.tile-position-2-5 {
        -webkit-transform: translate(210px, 84px);
        -moz-transform: translate(210px, 84px);
        transform: translate(210px, 84px);
    }
    .tile.tile-position-3-5 {
        -webkit-transform: translate(210px, 126px);
        -moz-transform: translate(210px, 126px);
        transform: translate(210px, 126px);
    }
    .tile.tile-position-4-5 {
        -webkit-transform: translate(210px, 168px);
        -moz-transform: translate(210px, 168px);
        transform: translate(210px, 168px);
    }
    .tile.tile-position-5-5 {
        -webkit-transform: translate(210px, 210px);
        -moz-transform: translate(210px, 210px);
        transform: translate(210px, 210px);
    }
    .tile.tile-position-6-5 {
        -webkit-transform: translate(210px, 252px);
        -moz-transform: translate(210px, 252px);
        transform: translate(210px, 252px);
    }
    .tile.tile-position-0-6 {
        -webkit-transform: translate(252px, 0px);
        -moz-transform: translate(252px, 0px);
        transform: translate(252px, 0px);
    }
    .tile.tile-position-1-6 {
        -webkit-transform: translate(252px, 42px);
        -moz-transform: translate(252px, 42px);
        transform: translate(252px, 42px);
    }
    .tile.tile-position-2-6 {
        -webkit-transform: translate(252px, 84px);
        -moz-transform: translate(252px, 84px);
        transform: translate(252px, 84px);
    }
    .tile.tile-position-3-6 {
        -webkit-transform: translate(252px, 126px);
        -moz-transform: translate(252px, 126px);
        transform: translate(252px, 126px);
    }
    .tile.tile-position-4-6 {
        -webkit-transform: translate(252px, 168px);
        -moz-transform: translate(252px, 168px);
        transform: translate(252px, 168px);
    }
    .tile.tile-position-5-6 {
        -webkit-transform: translate(252px, 210px);
        -moz-transform: translate(252px, 210px);
        transform: translate(252px, 210px);
    }
    .tile.tile-position-6-6 {
        -webkit-transform: translate(252px, 252px);
        -moz-transform: translate(252px, 252px);
        transform: translate(252px, 252px);
    }
}
